*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 500;
    line-height: 1.6;
    font-family: $font-primary;
    box-sizing: border-box;
    color: $color-secondary-grayishBlue;
    background-color: $color-primary-cream;
}
